@inherits LayoutComponentBase
@inject IHostEnvironment Env

<div class="app">
    <nav class="topbar">
        <div class="brand">Control de Lavados</div>
        <div class="links">
            <NavLink class="navlink" href="/camiones" Match="NavLinkMatch.All">Camiones</NavLink>
            <NavLink class="navlink" href="/hielo">Fábrica de Hielo</NavLink>
            <NavLink class="navlink" href="/hiel">Hiel</NavLink>
            <NavLink class="navlink" href="/varias">Varias</NavLink>
            <AuthorizeView Roles="Admin">
                <NavLink class="navlink" href="/reportes">Reportes</NavLink>
                <NavLink class="navlink" href="/catalogos">Configuración</NavLink>
                <NavLink class="navlink" href="/usuarios">Usuarios</NavLink>
            </AuthorizeView>
        </div>
        <AuthorizeView>
            <Authorized>
                <div class="userbox">
                    <span class="user">@context.User.Identity?.Name</span>
                    @if (!Env.IsDevelopment())
                    {
                        <a class="navlink salir" href="/MicrosoftIdentity/Account/SignOut">Salir</a>
                    }
                </div>
            </Authorized>
        </AuthorizeView>
    </nav>
    <main class="content">
        @Body
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    Ocurrió un error inesperado.
    <a href="." class="reload">Recargar</a>
    <span class="dismiss">🗙</span>
</div>
